@model BlogComment


<div class="rating-row pt-2">

    <form id="comment-form" asp-action="comment" asp-controller="blog" method="post" class="mt--15 site-form ">
        <div class="row">
            <input type="hidden" value="@Model.BlogId" name="BlogId" />
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="Text">Comment</label>
                    <textarea asp-for="Text" cols="30" rows="10"
                              class="form-control"></textarea>
                    <span class="text-danger" asp-validation-for="Text"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sbmnt-btn">
                    <button type="submit" class="btn btn-white">Post Comment</button>
                </div>
            </div>
        </div>
    </form>
</div>

