#video{
    
    position: relative;
  
    padding: 105px 0 215px;
    background-color: #0c0617;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
     justify-content: center;
      align-items: center;
}


@media screen and (max-width: 768px){
    #video{
        height: 580px;
    }
  }

  @media screen and (max-width: 425px){
    #video{
        height: 370px;
    }
  }