@model MemberProfileViewModel
@{
    ViewData["Title"] = "Profile";
 
}

<main>
    <section style="margin-bottom: 200px;" id="myProfile">
        <div class="container">
            <div class="row breadcrumb-row">
                <div class="col-12 col-lg-12">
                    <div class="breadcrumb">
                        <div class="br-icon">
                            <i class="bi bi-headphones"></i>
                        </div>
                        <div class="br-title">
                            <h1>Account Details</h1>
                        </div>
                        <div class="br-subtitle acc-br">
                            <a asp-action="index" asp-controller="home">Home > <span>Account Details</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-12 myAccount-col">
                    <div class="myAccount-content">
                        <h3>Account Details</h3>
                        <div class="myAccount-form">
                            @Html.Partial("_MemberUpdateForm", Model.Member)
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>