@model MemberProfileViewModel
@{
    ViewData["Title"] = "Profile";
 
}
<style>
    footer{
        top: 48px;
    }
    .my-order-btn button {
        position: relative;
        top: 6px;
        margin-left: 31px;
        padding: 20px 33px 15px;
        min-width: 149px;
        color: #fff;
        line-height: 1;
        text-align: center;
        font-weight: 700;
        border: none;
        text-transform: uppercase;
        background: linear-gradient(45deg, #c7911d 0%, #ff6334 100%);
    }
        #myProfile {
            height: 1545px;
        }

    @@media screen and (max-width: 768px){
        .br-subtitle {
            right: 238px !important;
        }
    }
    
    @@media screen and (max-width: 425px) {
        footer {
            display: none;
        }

        .buttons {
            flex-direction: column;
        }

        .my-order-btn {
            margin-right: 30px;
        }

        .logout-button {
            margin-right: 30px;
        }
    }
   
</style>
<main>
    <section style="margin-bottom: 200px;" id="myProfile">
        <div class="container">
            <div class="row breadcrumb-row">
                <div class="col-12 col-lg-12">
                    <div class="breadcrumb">
                        <div class="br-icon">
                            <i class="bi bi-headphones"></i>
                        </div>
                        <div class="br-title">
                            <h1>Account Details</h1>
                        </div>
                        <div class="br-subtitle acc-br">
                            <a asp-action="index" asp-controller="home">Home > <span>Account Details</span></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12 col-lg-12 myAccount-col">
                    <div class="myAccount-content">
                        <h3>Account Details</h3>
                        <div class="myAccount-form">
                            @Html.Partial("_MemberUpdateForm", Model.Member)
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>