@model MemberRegisterViewModel
@{

    Layout = null;
    <link rel="stylesheet" href="~/assets/sass/css/main.css" />
    <style>
        .back-btn {
            text-align: center;
            margin-top: 20px;
        }

        .back {
            text-decoration: none;
            color: #fff;
        }
    </style>
}


<main>
    <section id="login">

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12 login-col">
                    <div class="login-card">
                        <i class="bi bi-arrow-left go-back"></i>
                        <form asp-action="register" method="post" enctype="multipart/form-data">
                            <h2>Register</h2>
                            <div class="login-form">
                                <input asp-for="FullName" type="text" id="name" placeholder="Your Name">
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="login-form">
                                <input asp-for="UserName" type="text" id="name" placeholder="Username">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="login-form">
                                <input asp-for="Email" type="email" id="name" placeholder="E-Mail">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="login-form">
                                <input asp-for="Password" type="password" placeholder="Enter your Password" required />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="login-form">
                                <input asp-for="ConfirmPassword" type="password" placeholder="Repeat your Password" required />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>


                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <div class="login-form">
                                <input type="submit" value="Sign Up" class="submit-btn">
                            </div>
                            <div class="back-btn">
                                <a class="back" asp-action="login" asp-controller="account">
                                    <i class="bi bi-arrow-left"></i>
                                    Go Back
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>