@model ResetPasswordViewModel

@{

    Layout = null;
    <link rel="stylesheet" href="~/assets/sass/css/main.css" />

}
<main>
    <section id="login">

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12 login-col">
                    <div class="login-card">
                        <form class="pt-3" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="login-form">
                                <input class="form-control form-control-lg" asp-for="NewPassword" placeholder="new password">
                            </div>
                            <div class="login-form">
                                <input class="form-control form-control-lg" asp-for="ConfirmPassword" placeholder="confirm password">
                            </div>
                            <div class="login-btns">
                                <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SEND</button>
                            </div>
                            
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

</main>