#login {
  background-image: url(/assets/media/login/54ba1aebeb5c5c92105f430009db074c.jpg);

  width: 100%;
  height: 1002px; 
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.login-col {
  display: flex;
  justify-content: center;

}
.login-card {
  z-index: 9999;
  width: 660px;
  background-color: rgba(209, 209, 209, 0.418);
  padding: 50px 85px;
  h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: rgb(255, 255, 255);

    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
  }
  .login-form {
    overflow: hidden;
    margin-bottom: 20px;
    input {
      width: 100%;
      border: none;
      border-radius: 5px;
      padding: 17px 20px;
      box-sizing: border-box;
      font-size: 14px;
      font-weight: 500;
      color: #222;
    }
  }
}
label{
    p{
        color: #fff;
    }
}
.submit-btn {
  background: linear-gradient(45deg, #040113da, #ff121e7c 100%);
  display: inline-block;
  font-size: 14px;
  padding: 17px 33px 15px;
  min-width: 149px;

  line-height: 1;
  text-align: center;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  color: #fff !important;
  transition: background 0.3s linear;
  &:hover{
  background: linear-gradient(190deg, #040113da, #ff121e9a 100%);

  }
}
.login-btns{
    label{
  color: #fff !important;

    }
    a{
        float: right;
        text-decoration: none;
        font-style: none;
        color: #fff;
        &:hover{
                color: #ff121e7c !important;
 
        }
    }
}
.register-info{
    color: #fff;
    text-align: center;
    font-size: 23px;
    a{
        font-style: none;
        color: #fff;
        &:hover{
            color: #ff121ec2 !important;

        }
    }
}
.login-image{
  background-color: #fff;
}
.go-back{
  color: #fff;
  position: relative;
  top: 40px;
  cursor: pointer;
  font-size: large;
 
}