#myPlaylist {
  background-color: #0c0617;
  height: auto;
}

.sidebar-header {
  padding-top: 150px;
  color: #fff;
}
.sidebar-main {
  ul {
    li {
      list-style: none;
      a {
        color: #fff;
        text-decoration: none;

        line-height: 2.5rem;
      }
    }
  }
}
.sidebar-col {
  padding-left: 100px;
  background-color: rgba(128, 128, 128, 0.342);
  height: auto;
  width: 350px;
  border-bottom: 1px rgba(128, 128, 128, 0.377) solid;
}
.playlist-cont {
  display: flex;
}
.list-row {
  width: 100%;
  padding-top: 190px;
  padding-left: 100px;
}
.list-header {
  color: #fff;
}
.bottom-menu {
  display: flex;
  height: 80px;
  left: 0;

  padding: 0 24px;
  position: fixed;
  right: 0;
  bottom: 2px;
  background-color: rgba(128, 128, 128, 0.897);
  justify-content: space-between;
  z-index: 300;
  .navigation {
    display: flex;
    width: 140px;
    align-items: center;
    justify-content: space-around;
    i {
      color: #fff;
      font-size: xx-large;
    }
  }
}
.sidebar-artist{
  padding-bottom: 510px;
  padding-top: 25px;
 
}
.sidebar-header-artist{
  h2{
    color: #fff;
  }
}
.sidebar-main-artist{
  ul{
    li {
      list-style: none;
      a {
        color: #fff;
        text-decoration: none;
        list-style: none;
        line-height: 2.5rem;
      }
    }
  }
}
.navigation{
  button{
    background-color: transparent;
    border: none;
  }
}
.albums-songs {
  &:hover {
    background-color: rgba(128, 128, 128, 0.356);
  }
}
.bottom-track-img {
  width: 88px;
  overflow: hidden;
  border-radius: 50%;
}
.bottom-menu-track-name {
  display: flex;
  align-items: center;
  color: #fff;
}
.albums-track-timer {
  color: #fff;
}

.music-range {
  width: 950px;
  input {
    background: none;
  }
}
.bottom-track-img{
  img{
    height: 80px;
  }
}
.track-seek {
  display: flex;
  align-items: center;
}
.track-timer {
  color: #fff;
  padding: 20px;
}
.bottom-track-volume {
  font-size: x-large;
  color: #fff;
}
input[type="range"] {
  height: 23px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #adadad;
  border-radius: 22px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #8d9194;
  height: 16px;
  width: 22px;
  border-radius: 50px;
  background: #e8e8e8;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #adadad;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #adadad;
  border-radius: 22px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497e3;
  height: 16px;
  width: 22px;
  border-radius: 50px;
  background: #e8e8e8;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #adadad;
  border: 0px solid #000000;
  border-radius: 44px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #adadad;
  border: 0px solid #000000;
  border-radius: 44px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497e3;
  height: 16px;
  width: 22px;
  border-radius: 50px;
  background: #e8e8e8;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #adadad;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #adadad;
}
@media screen and(max-width: 1440px) {
  .music-range {
    width: 500px;
  }
}
@media screen and (max-width: 1024px) {
  .music-range {
    width: 350px;
  }
}
@media screen and (max-width: 768px) {
  .music-range {
    width: 170px;
  }
  .sidebar-col {
    width: 170px;
    padding-left: 53px;
  }
  .bottom-menu-track-name {
    h3 {
      font-size: 19px;
    }
  }
  .list-row {
    padding-left: 34px;
    padding-top: 145px;
  }
}
@media screen and (max-width: 425px) {
  .music-range {
    width: 100px;
  }
  .bottom-menu-track-name {
    padding-left: 5px;
    h3 {
      font-size: 15px;
      position: absolute;
      bottom: 46px;
      left: 195px;
    }
  }
  .sidebar-col {
    width: 124px;
    padding-left: 11px;
  }
  .bottom-menu-btn {
    i {
      font-size: x-large !important;
    }
  }
  .bottom-track-img {
    display: none;
  }
  .track-timer {
    padding: 5px;
  }
  .list-row {
    padding-left: 30px;
  }
}
@media screen and (max-width: 375px) {
  .bottom-menu-track-name {

    h3 {
      left: 190px;
    }
  }
  .navigation{
    i {

      font-size: medium !important;
    }
  }

}
@media screen and (max-width: 375px) {
  .bottom-menu-track-name {

    h3 {
      left: 150px;
    }
  }
  .list-row{
    padding-left: 17px;
  }
}