@model Tours
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@Model.Info</h5>
                    <h6 style="color:white !important;" class="card-subtitle mb-2 text-muted">Tour's Location: @Model.Location</h6>
                    <a asp-action="index" class="card-link btn btn-primary">Go to list</a>
                    <form asp-action="delete" method="post" class="d-inline-block">
                        <input type="hidden" value="@Model.Id" name="Id" />
                        <button type="submit" class="btn btn-danger" id="delete">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>