@model Tours
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>Edit</h1>
            <form asp-action="edit" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group">
                        <label asp-for="Date">Date</label>
                        <input type="date" asp-for="Date" placeholder="Enter Date">
                        <span class="text-danger" asp-validation-for="Date"></span>
                    </div>
                    <div class="form-group col-lg-12">
                        <label asp-for="Info">Informations</label>
                        <input class="form-control" asp-for="Info" placeholder="Enter Informations">
                        <span class="text-danger" asp-validation-for="Info"></span>
                    </div>
                    <div class="form-group col-lg-12">
                        <label asp-for="Desc">Desc</label>
                        <input class="form-control" asp-for="Desc" placeholder="Enter Desc">
                        <span class="text-danger" asp-validation-for="Desc"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Location">Location</label>
                    <input class="form-control" asp-for="Location" placeholder="Enter Location">
                    <span class="text-danger" asp-validation-for="Location"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BtnText">Button Text</label>
                    <input class="form-control" asp-for="BtnText" placeholder="Enter Button Text">
                    <span class="text-danger" asp-validation-for="BtnText"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <label asp-for="CostPrice">CostPrice</label>
                        <input class="form-control" asp-for="CostPrice">
                        <span class="text-danger" asp-validation-for="CostPrice"></span>
                    </div>
                    <div class="form-group col-lg-4">
                        <label asp-for="SalePrice">SalePrice</label>
                        <input class="form-control" asp-for="SalePrice">
                        <span class="text-danger" asp-validation-for="SalePrice"></span>
                    </div>
                    <div class="form-group col-lg-4">
                        <label asp-for="DiscountPercent">DiscountPercent</label>
                        <input class="form-control" asp-for="DiscountPercent">
                        <span class="text-danger" asp-validation-for="DiscountPercent"></span>
                    </div>
                </div>
                <div class="form-row" style="padding:0px 25px;">
                    <div class="form-check col-lg-4">
                        <input class="form-check-input" type="checkbox" asp-for="IsAvaiable">
                        <label class="form-check-label" asp-for="IsAvaiable">
                            IsAvailable
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
    $(document).ready(function () {
        $(document).on("click", ".remove-img-box", function () {
            $(this).parent().remove()
        })
    })
    </script>
}