#players {
  background: #0c0617;
}

.player_left {
  position: relative;
  height: 1024px;
  background-image: url(/assets/media/tracks-photos/2.jpg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  right: 2%;
}
.player-left-inner {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0 45px;
  bottom: 45px;
  z-index: 5;
}
.track-info {
  position: relative;

  h4 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
  }
  p {
    font-size: 16px;
    color: #888;
  }
}
.playlists {
  margin-left: 30px;
  padding-top: 30px;
}
.player-right {
  padding-top: 70px;
  .section-title {
    padding-left: 65px;
  
    padding-top: 60px;
  
    .sub-title {
      font-family: "Satisfy", cursive;
      color: #e934ff;
      font-size: 30px;
    }
    h2 {
      text-transform: uppercase;
      color: #fff;
      font-size: 36px;
      line-height: 1.4;
    }
  }
}
.player-right {
  ul {
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      position: relative;
      height: 95px;

      padding: 30px 65px 10px;
      border-bottom: 1px solid #262037;
      &:hover{
        background: rgba(98, 98, 160, 0.158);
      }
    }
  }
}
.play-btn {
  background: rgb(59, 45, 129);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  i {
    position: relative;
    top: 17px;
    left: 37%;
    font-size: 23px;
    color: white;
  }
}
.track-time {
  span {
    font-weight: 600;
    color: #fff;
  }
}
.track-info-left {
  h4 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
  }
  p {
    font-size: 16px;
    color: #888;
  }
}
.controls {
  display: flex;
  justify-content: space-between;
  font-size: 33px;
  color: #fff;
  .shuffle-btn {
    width: 30px;
    font-size: 20px;
    margin-right: 5px;
    border: none;
    color: #fff;
    background: transparent;
  }
  .track-btn {
    width: 30px;
    font-size: 20px;
    margin-right: 5px;
    border: none;
    color: #fff;
    background: transparent;
  }
  .track-play-btn {
    width: 55px;
    height: 55px;
    margin: 0 20px;
    position: relative;
    bottom: 14px;
    border-radius: 50px;

    i {
      position: relative;
      top: 0;
      left: 37%;
      font-size: 23px;
      color: white;
    }
  }
  .track-timer {
    width: 120px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
  }
}

.progress {
  width: 96%;
  height: 5px;
  background: rgba(255, 255, 255, 0.35);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .player_left {
    left: 0;
  }
}



@media screen and (max-width: 375px){
    .player-right{
        
         height: 814px;
    }
    .section-title{
        margin-top: 25px;
        h2{
            font-size: 15px !important;
        }
    }
    .playlists{
        padding-top: 6px !important;
    }
    .play-btn{
        position: relative;
        right: 60px;
    }
}    
@media screen and (max-width: 320px){
  .playlists{
    ul{
      li{
        height: 72px !important;
        padding: 30px 29px 10px !important; 
      }
    }
  }
}