#myProfile{
    background-color: #0c0617;
    height: 1000px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/media/login/54ba1aebeb5c5c92105f430009db074c.jpg);
}
.myAccount-col{
    background-color: rgba(209,209,209,0.418);
}
.myAccount-content{
   
    h3{ 
        padding-top: 20px;
        color: #fff;
    }
}
legend{
    color: #fff;
}
.single-input{
    color: #fff;
}
.acc-br{
    position: relative;
    right: 279px !important;
}
.single-input-item {
    margin-top: 20px;
    color: #fff;
    label {
      text-transform: capitalize;
      font-size: 14px;
    }
    input {
      color: #666666;
      border: 1px solid #ccc;
      padding: 12px 10px;
      width: 100%;
      font-size: 14px;
      background: #f7f7f7;
    }
    select {
      color: #666666;
      border: 1px solid #ccc;
      padding: 12px 10px;
      width: 100%;
      font-size: 14px;
      background: #f7f7f7;
    }
    button{
        margin-top: 18px;
        margin-bottom: 26px;
        text-decoration: none;
        font-size: 14px;
        padding: 20px 33px 15px;
        min-width: 149px;
        color: #fff;
        line-height: 1;
        text-align: center;
        font-weight: 700;
        border: none;
        text-transform: uppercase;
        background: linear-gradient(45deg, #503aca 0%, #ea34ff 100%);
    }
  }

  .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    .logout-button{
        button{
            margin-top: 38px;
        margin-bottom: 26px;
        margin-left: 30px;
        text-decoration: none;
        font-size: 14px;
        padding: 20px 33px 15px;
        min-width: 149px;
        color: #fff;
        line-height: 1;
        text-align: center;
        font-weight: 700;
        border: none;
        text-transform: uppercase;
        background: linear-gradient(45deg, #040113da, #ff121e7c 100%);
        }
    }
  }

  .table{
      thead{
          th{
              color: #fff;
          }
      }
      tbody{
          color: #fff;
      }
  }