#video{
    
    position: relative;
  
    padding: 105px 0 215px;
    background-color: #0c0617;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
     justify-content: center;
      align-items: center;
}
.video-section{
   
    
    video{
        width: 100%;
    }

}
.video-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    .sub-title{
        P{
            font-family: "Satisfy",cursive;
            color: #e934ff;
            font-size: 30px;
        }
    }
    h2{
        text-transform: uppercase;
    color: #fff;
    }
}

.video-playlist{
    overflow-y: scroll;
    height: 491px;
    ul{
        li{
            list-style: none;
            padding: 20px;
        }
    }
}
.video-img{
    width: 120px;
    float: left;
    position: relative;
    margin-right: 18px;
}
.video-name{
    h5{
        color: #fff;
        font-weight: 600;
        margin-bottom: 10px;
    }
}
.video-playlist{
    position: relative;
    right: 12px;
}
.video_thumbnail{
    position: absolute;
    max-width: 100%;
    img{
        width: 100%;
        height: 491px;
    }
}

@media screen and (max-width: 1440px){
    .video-playlist{
        right: 0;
        overflow: scroll;
    }
    .video_thumbnail{
    
        img{
            width: 100%;
          
        }
    }
  }

  @media screen and (max-width: 1024px){
    .video-playlist{
        right: 0;
        overflow: scroll;
        height: 491px;
    }
    .video_thumbnail{
    
        img{
            width: 100%;
          
        }
    }
  }

  @media screen and (max-width: 768px){
    .video-playlist{
        right: 0;
        overflow: scroll;
        height: 300px;
        ul{
            li{display: flex;}
        }
    }
    .video_thumbnail{
    
        img{
            width: 96%;
          height: 410px;
        }
    }
  }