<section class="homeHero">
    <div class="container">
        <div class="slider">
            <ul class="one-time">
                <li>
                    <h4 class="slider-headtext">The Electro Vibe</h4>
                    <h1 class="slider-name">Tailor Lachiri</h1>
                    <p class="slider-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua accumsan lacus vel facilisis.
                    </p>
                    <button class="slider-btn">Buy Tickets</button>
                </li>
                <li>
                    <h4 class="slider-headtext">The Electro Vibe</h4>
                    <h1 class="slider-name">Tailor Lachiri</h1>
                    <p class="slider-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua accumsan lacus vel facilisis.
                    </p>
                    <button class="slider-btn">Buy Tickets</button>
                </li>
                <li>
                    <h4 class="slider-headtext">The Electro Vibe</h4>
                    <h1 class="slider-name">Tailor Lachiri</h1>
                    <p class="slider-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua accumsan lacus vel facilisis.
                    </p>
                    <button class="slider-btn">Buy Tickets</button>
                </li>
            </ul>
            <div class="navigation d-flex justify-content-between">
                <div class="prev-arrow"><i class="text-white fa-solid fa-angle-left"></i></div>
                <div class="next-arrow"><i class="text-white fa-solid fa-angle-right"></i></div>
            </div>
        </div>
    </div>

</section>
<!-- About Section -->
<section class="homeAbout">

    <div class="container">
        <div class="row  align-items-center">
            <div class="col-12 col-lg-6" ">
                <div class="">
                    <img class="" src="/assets/media/about-section/about.jpg" alt="">

                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="about-text">
                    <span> About Us</span>
                    <h2>The Electro Vibe</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum aperiam, eum natus eos asperiores
                        necessitatibus esse? Eos, tenetur voluptatum ipsa laboriosam quam a debitis? Quas dolor, assumenda
                        distinctio nihil magni maiores nisi quibusdam magnam accusantium rem, suscipit ipsam nulla soluta sit
                        doloribus sequi officia! Consequatur, dolore! Provident dignissimos reiciendis quidem.
                    </p>
                    <a href="">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Albums Section -->
<section id="albums">
    <div class="container py-5">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-6 album-title">
                <span>
                    Discover

                </span>
            </div>
            <div class="col-12 col-lg-6 text-end album-button">
                <a>

                    View My Playlist
                </a>
            </div>
        </div>
        <div class="row my-5">
            <h1>NEWEST ALBUMS & SINGLES</h1>
        </div>
        <div class="row my-5">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="album-card text-center">
                    <div class="album-image">
                        <img src="~/assets/media/albums/1.jpg" alt="">
                    </div>
                    <div class="album-title">
                        Hello World
                    </div>
                    <div class="album-singer">
                        Maieve
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="album-card text-center">
                    <div class="album-image">
                        <img src="~/assets/media/albums/2.jpg" alt="">
                    </div>
                    <div class="album-title">
                        Hello World
                    </div>
                    <div class="album-singer">
                        Maieve
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="album-card text-center">
                    <div class="album-image">
                        <img src="~/assets/media/albums/3.jpg.webp" alt="">
                    </div>
                    <div class="album-title">
                        Hello World
                    </div>
                    <div class="album-singer">
                        Maieve
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="album-card text-center">
                    <div class="album-image">
                        <img src="~/assets/media/albums/4.jpg.webp" alt="">
                    </div>
                    <div class="album-title">
                        Hello World
                    </div>
                    <div class="album-singer">
                        Maieve
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="album-card text-center">
                    <div class="album-image">
                        <img src="~/assets/media/albums/5.jpg.webp" alt="">
                    </div>
                    <div class="album-title">
                        Hello World
                    </div>
                    <div class="album-singer">
                        Maieve
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="album-card text-center">
                    <div class="album-image">
                        <img src="~/assets/media/albums/x6.jpg.pagespeed.ic.y-qE0hcMlY.webp" alt="">
                    </div>
                    <div class="album-title">
                        Hello World
                    </div>
                    <div class="album-singer">
                        Maieve
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="album-card text-center">
                    <div class="album-image">
                        <img src="~/assets/media/albums/x7.jpg.pagespeed.ic.uRASOij9z9.webp" alt="">
                    </div>
                    <div class="album-title">
                        Hello World
                    </div>
                    <div class="album-singer">
                        Maieve
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="album-card text-center">
                    <div class="album-image">
                        <img src="~/assets/media/albums/x8.jpg.pagespeed.ic.XcuhmIbrQe.webp" alt="">
                    </div>
                    <div class="album-title">
                        Hello World
                    </div>
                    <div class="album-singer">
                        Maieve
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Player Section -->
<section id="players">
    <div class="container-fluid">
        <div class="row m-0">
            <div class="col-12 col-lg-6 p-0">
                <div class="player_left">
                    <div class="player-left-inner">
                        <div class="row">
                            <div class="col-lg-5 col-sm-4">
                                <div class="track-info-left">
                                    <h4>I'm Mess</h4>
                                    <p>Bebe Rexha</p>
                                </div>
                            </div>
                            <div class="col-lg-7 col-sm-8 text-right">
                                <div class="controls">

                                    <div class="track-btn prev-track">
                                        <i class="fa-solid fa-backward" id="back"></i>
                                    </div>
                                    <div class="track-play-btn">
                                        <i class="fa-solid fa-play" id="masterPlay"></i>
                                    </div>
                                    <div class="track-btn next-track">
                                        <i class="fa-solid fa-forward" id="next"></i>
                                    </div>
                                    <div class="track-btn">
                                        <i class="fa-solid fa-volume-high"></i>
                                    </div>
                                    <div class="track-timers">
                                        <span class="current-time" id="currentStart">00:00</span>
                                        /
                                        <span class="total-time" id="currentEnd">03:06</span>
                                    </div>


                                </div>
                                <div class="track-progress">

                                    <input class="progress" id="seek" type="range" min="1" max="100" value="0" class="seek_slider"
                                           anychange="seekTo()">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 p-0">
                <div class="player-right">
                    <div class="section-title">
                        <h4 class="sub-title">Latest Album</h4>
                        <h2>WHEN WE ALL FALL ASLEEP</h2>
                    </div>
                    <div class="playlists">
                        <ul>
                            <li>
                                <div class="play-btn">
                                    <i class="fa-solid fa-play"></i>
                                </div>
                                <div class="track-info">
                                    <h4>I'm Mess</h4>
                                    <p>Bebe Rexha</p>
                                </div>
                                <audio src="~/assets/media/music/1.mp3" id="audio"></audio>
                                <div class="track-time">
                                    <i class="bi bi-plus"></i>
                                    <span>03:00</span>

                                </div>
                            </li>
                            <li>
                                <div class="play-btn">
                                    <i class="fa-solid fa-play"></i>
                                </div>
                                <div class="track-info">
                                    <h4>I'm Mess</h4>
                                    <p>Bebe Rexha</p>
                                </div>
                                <audio src="~/assets/media/music/1.mp3" id="audio"></audio>

                                <div class="track-time">
                                    <span>03:00</span>

                                </div>
                            </li>
                            <li>
                                <div class="play-btn">
                                    <i class="fa-solid fa-play"></i>
                                </div>
                                <div class="track-info">
                                    <h4>I'm Mess</h4>
                                    <p>Bebe Rexha</p>
                                </div>
                                <audio src="~/assets/media/music/1.mp3" id="audio"></audio>

                                <div class="track-time">
                                    <span>03:00</span>

                                </div>
                            </li>
                            <li>
                                <div class="play-btn">
                                    <i class="fa-solid fa-play"></i>
                                </div>
                                <div class="track-info">
                                    <h4>I'm Mess</h4>
                                    <p>Bebe Rexha</p>
                                </div>
                                <audio src="~/assets/media/music/1.mp3" id="audio"></audio>

                                <div class="track-time">
                                    <span>03:00</span>

                                </div>
                            </li>
                            <li>
                                <div class="play-btn">
                                    <i class="fa-solid fa-play"></i>
                                </div>
                                <div class="track-info">
                                    <h4>I'm Mess</h4>
                                    <p>Bebe Rexha</p>
                                </div>
                                <audio src="~/assets/media/music/1.mp3" id="audio"></audio>

                                <div class="track-time">
                                    <span>03:00</span>

                                </div>
                            </li>
                            <li>
                                <div class="play-btn">
                                    <i class="fa-solid fa-play"></i>
                                </div>
                                <div class="track-info">
                                    <h4>I'm Mess</h4>
                                    <p>Bebe Rexha</p>
                                </div>
                                <audio src="~/assets/media/music/1.mp3" id="audio"></audio>

                                <div class="track-time">
                                    <span>03:00</span>

                                </div>
                            </li>
                            <li>
                                <div class="play-btn">
                                    <i class="fa-solid fa-play"></i>
                                </div>
                                <div class="track-info">
                                    <h4>I'm Mess</h4>
                                    <p>Bebe Rexha</p>
                                </div>
                                <audio src="~/assets/media/music/1.mp3" id="audio"></audio>

                                <div class="track-time">
                                    <span>03:00</span>

                                </div>
                            </li>
                            <li>
                                <div class="play-btn">
                                    <i class="fa-solid fa-play"></i>
                                </div>
                                <div class="track-info">
                                    <h4>I'm Mess</h4>
                                    <p>Bebe Rexha</p>
                                </div>
                                <audio src="~/assets/media/music/1.mp3" id="audio"></audio>

                                <div class="track-time">
                                    <span>03:00</span>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Video Section -->
<section id="video" style="background-image: url(./assets/media/main/video-overlay.png.webp);">
    <div class="container">
        <div class="row">
            <div class="video-title">
                <div class="sub-title">
                    <p>Our Videos</p>
                </div>
                <h2>NEWEST Albums & SINGLES.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="video-section">
                    <div class="video_thumbnail">

                        <img src="~/assets/media/videoSection/1.jpg (1).webp" alt="">
                    </div>
                    <video src="https://preview.colorlib.com/theme/hnband/video-files/3.m4v"></video>
                </div>
            </div>
            <div class="col-12 col-lg-4 video-playlist" style="background-color: #100923;">
                <ul>
                    <li>
                        <div class="video-img">
                            <img src="~/assets/media/videoSection/2.jpg.webp" alt="">
                        </div>
                        <div class="video-name">
                            <h5>
                                Maroon 5 - Don't Wanna Know (Audio)
                            </h5>
                        </div>
                    </li>
                    <li>
                        <div class="video-img">
                            <img src="~/assets/media/videoSection/2.jpg.webp" alt="">
                        </div>
                        <div class="video-name">
                            <h5>
                                Maroon 5 - Don't Wanna Know (Audio)
                            </h5>
                        </div>
                    </li>
                    <li>
                        <div class="video-img">
                            <img src="~/assets/media/videoSection/2.jpg.webp" alt="">
                        </div>
                        <div class="video-name">
                            <h5>
                                Maroon 5 - Don't Wanna Know (Audio)
                            </h5>
                        </div>
                    </li>
                    <li>
                        <div class="video-img">
                            <img src="~/assets/media/videoSection/2.jpg.webp" alt="">
                        </div>
                        <div class="video-name">
                            <h5>
                                Maroon 5 - Don't Wanna Know (Audio)
                            </h5>
                        </div>
                    </li>
                    <li>
                        <div class="video-img">
                            <img src="~/assets/media/videoSection/2.jpg.webp" alt="">
                        </div>
                        <div class="video-name">
                            <h5>
                                Maroon 5 - Don't Wanna Know (Audio)
                            </h5>
                        </div>
                    </li>
                    <li>
                        <div class="video-img">
                            <img src="~/assets/media/videoSection/2.jpg.webp" alt="">
                        </div>
                        <div class="video-name">
                            <h5>
                                Maroon 5 - Don't Wanna Know (Audio)
                            </h5>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

</section>


<!-- Tours Section -->

<section id="tours">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="tours-title">
                    <div class="sub-title">
                        <p>Upcoming Shows</p>
                    </div>
                    <h2>WHEN WE ALL FALL ASLEEP</h2>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="tour-btn">
                    <button>View ALL</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="tours-list">
                    <ul>
                        <li>
                            <div class="tour-date">
                                <h2>25</h2>
                                <span>Aug</span>
                            </div>
                            <div class="tour-info">
                                <p>

                                    Sunburn Arena with Wiz Khalifa
                                </p>
                                <span>

                                    EDM, Pop, Rap | English | Age 15+ | 5hrs
                                </span>
                            </div>
                            <div class="tour-location">
                                <p>
                                    <i class="bi bi-geo-alt-fill"></i>
                                    Multiple Venues

                                </p>
                            </div>
                            <div class="tour-date">
                                <p>
                                    <i class="bi bi-clock"></i>
                                    02:00PM

                                </p>
                            </div>
                            <div class="ticket-btn">
                                <a href="">Buy Ticket</a>
                            </div>
                        </li>
                        <li>
                            <div class="tour-date">
                                <h2>25</h2>
                                <span>Aug</span>
                            </div>
                            <div class="tour-info">
                                <p>

                                    Sunburn Arena with Wiz Khalifa
                                </p>
                                <span>

                                    EDM, Pop, Rap | English | Age 15+ | 5hrs
                                </span>
                            </div>
                            <div class="tour-location">
                                <p>
                                    <i class="bi bi-geo-alt-fill"></i>
                                    Multiple Venues

                                </p>
                            </div>
                            <div class="tour-date">
                                <p>
                                    <i class="bi bi-clock"></i>
                                    02:00PM

                                </p>
                            </div>
                            <div class="ticket-btn">
                                <a href="">Buy Ticket</a>
                            </div>
                        </li>
                        <li>
                            <div class="tour-date">
                                <h2>25</h2>
                                <span>Aug</span>
                            </div>
                            <div class="tour-info">
                                <p>

                                    Sunburn Arena with Wiz Khalifa
                                </p>
                                <span>

                                    EDM, Pop, Rap | English | Age 15+ | 5hrs
                                </span>
                            </div>
                            <div class="tour-location">
                                <p>
                                    <i class="bi bi-geo-alt-fill"></i>
                                    Multiple Venues

                                </p>
                            </div>
                            <div class="tour-date">
                                <p>
                                    <i class="bi bi-clock"></i>
                                    02:00PM

                                </p>
                            </div>
                            <div class="ticket-btn">
                                <a href="">Buy Ticket</a>
                            </div>
                        </li>
                        <li>
                            <div class="tour-date">
                                <h2>25</h2>
                                <span>Aug</span>
                            </div>
                            <div class="tour-info">
                                <p>

                                    Sunburn Arena with Wiz Khalifa
                                </p>
                                <span>

                                    EDM, Pop, Rap | English | Age 15+ | 5hrs
                                </span>
                            </div>
                            <div class="tour-location">
                                <p>
                                    <i class="bi bi-geo-alt-fill"></i>
                                    Multiple Venues

                                </p>
                            </div>
                            <div class="tour-date">
                                <p>
                                    <i class="bi bi-clock"></i>
                                    02:00PM

                                </p>
                            </div>
                            <div class="ticket-btn">
                                <a href="">Buy Ticket</a>
                            </div>
                        </li>
                        <li>
                            <div class="tour-date">
                                <h2>25</h2>
                                <span>Aug</span>
                            </div>
                            <div class="tour-info">
                                <p>

                                    Sunburn Arena with Wiz Khalifa
                                </p>
                                <span>

                                    EDM, Pop, Rap | English | Age 15+ | 5hrs
                                </span>
                            </div>
                            <div class="tour-location">
                                <p>
                                    <i class="bi bi-geo-alt-fill"></i>
                                    Multiple Venues

                                </p>
                            </div>
                            <div class="tour-date">
                                <p>
                                    <i class="bi bi-clock"></i>
                                    02:00PM

                                </p>
                            </div>
                            <div class="ticket-btn">
                                <a href="">Buy Ticket</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>